@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

html {
  height: 100%;
}

body {
  margin: 0;  
  height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #F2F2F2;
}

.body-inner {
  box-sizing: border-box;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 1200px;
  min-height: 100%;
  background: #ffffff;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

.main-container {
  flex-grow: 1;
}

/* Стили для .main-header */

.main-header {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding-left: 71px;
  padding-right: 71px;
  background-color: #ffffff;
  color: #000000;
}

.logo-link {
  position: absolute;
  left: 50%;
  margin-left: -69px;
}

.main-nav-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  width: 450px;
  list-style: none;
}

.main-nav-link {
  padding-top: 18px;
  padding-bottom: 21px;
  padding-right: 17px;
  padding-left: 17px;
  display: block;

  font-size: 20px;
  line-height: normal;
  font-weight: 700;
  text-decoration: none;
  color: #000000;
}

.main-nav-item:first-of-type .main-nav-link {
  padding-left: 0;
}

.main-nav-link:hover {
  color: #756257;
}

.main-nav-link-active {
  position: relative;
}

.main-nav-link-active::after {
  position: absolute;
  content: "";
  height: 2px;
  bottom: -1px;
  left: 0;
  right: 14px;
  background-color: #756257;
}

.user-tools {
  margin-left: auto;
  width: 450px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: flex-start;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
}

.user-tools-item {
  margin-left: 21px;
  padding-top: 24px;
  padding-bottom: 18px;
  display: block;
  text-decoration: none;
}

.user-favourites {
  position: relative;
}

.favourites-count {
  position: absolute;
  top: 14px;
  right: -13px;
  width: 19px;
  padding-top: 3px;
  padding-bottom: 3px;
  font-size: 10px;
  line-height: 13px;
  font-weight: 400;
  color: #ffffff;
  background-color: #7DB54F;
  text-align: center;
  border-radius: 50%;
}

.user-catalog {
  margin-top: 14px;
  margin-bottom: 14px;
  margin-left: 34px;
  padding-top: 7px;
  padding-right: 34px;
  padding-bottom: 9px;
  padding-left: 34px;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  background-color: #756257;
  text-transform: uppercase;
  border-radius: 4px;
}


/* Стили для .promo */

.promo {
  position: relative;
  padding-top: 51px;
  padding-right: 50px; /* Цифра из головы для безопасного расстояния */
  padding-bottom: 82px;
  padding-left: 50px; /* Цифра из головы для безопасного расстояния */
  color: #ffffff;
  background-color: #30414a;
  background-image: url("../image/decorative/promo-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.promo::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 57px;
  left: 0;
  bottom: 0;
  background-image: url("../image/svg/promo-decorative.svg");
  background-repeat: no-repeat;
}

.promo figure {
  margin: 0 auto;
  width: 458px;
  height: 352px;
}

/* Стили для .features */

.features {
  padding-top: 61px;
}

.features-inner {
  padding-right: 240px;
  padding-left: 240px;
}

.features-header {
  margin-bottom: 33px;
  display: block;
  font-size: 30px;
  line-height: 36px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.features-description {  
  margin-bottom: 80px;
  font-size: 22px;
  line-height: 36px;
  text-align: center;
  color: #333333;
}

.features-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.features-item {
  padding-top: 98px;
  padding-right: 75px;
  padding-bottom: 111px;
  padding-left: 75px;
  width: 250px;
  color: #333333;
}

.features-item h3 {
  margin: 0;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.features-item span {
  display: block;
  margin-top: 30px;
}

.features-item p {
  margin: 0;
  margin-top: 26px;
}

.features-city,
.features-bridge {
  padding: 0;
  display: flex;
  width: 100%;
  height: 384px; /* Костыль, от которого нужно избавиться, ломает переполнение */
  color: #ffffff;
  background-color: #83B3D3;
}

.features-left-column {
  padding-top: 98px;
  padding-right: 90px;
  padding-bottom: 65px;
  padding-left: 90px;
  width: 220px;
}

.features-right-column {
  width: 800px;
}

.features-bridge .features-left-column {
  order: 1;
}

.features-housing,
.features-souvenirs,
.features-area,
.features-tourist {
  background: rgba(131, 179, 211, 0.12);
}

.features-road {
  background-color: rgba(131, 179, 211, 0.2);;
}

.features-housing,
.features-food,
.features-souvenirs {
  padding-top: 98px;
  padding-right: 75px;
  padding-bottom: 90px;
  padding-left: 75px;
}

.features-housing h3,
.features-food h3,
.features-souvenirs h3 {
  position: relative;
  padding-top: 86px;
}

.features-housing h3::before,
.features-food h3::before,
.features-souvenirs h3::before {
  position: absolute;
  content: "";
  display: block;
  left: 50%;
  background-repeat: no-repeat;
}

.features-housing h3::before {
  margin-left: -37px;
  top: -9px;
  width: 74px;
  height: 72px;
  background-image: url("../image/svg/features-home.svg");
  background-size: 74px 72px;
}

.features-food h3::before {
  margin-left: -37px;
  top: -7px;
  width: 74px;
  height: 70px;
  background-image: url("../image/svg/features-food.svg");
  background-size: 74px 70px;
}

.features-souvenirs h3::before {
  margin-left: -32px;
  top: -13px;
  width: 64px;
  height: 76px;
  background-image: url("../image/svg/features-souvenirs.svg");
  background-size: 64px 76px;
}

.features-housing p,
.features-food p,
.features-souvenirs p {
  margin-top: 19px;
}

/* Стили для .hotel-search */

.hotel-search {
  padding-top: 88px;
  padding-right: 310px;
  padding-bottom: 91px;
  padding-left: 310px;
  text-align: center;
}

.hotel-search h2 {
  margin: 0;
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.hotel-search p {
  margin: 0;
  margin-bottom: 59px;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

.hotel-search-btn {
  display: block;
  padding-top: 13px;
  padding-bottom: 11px;
  width: 575px;
  font-weight: bold;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  background-color: #756257;
  border-radius: 10px;
}

/* Стили для .subscribe */

.subscribe {
  padding-top: 68px;
  padding-right: 200px;
  padding-bottom: 94px;
  padding-left: 200px;
  color: #ffffff;
  background-color: #7f6661;
  background-image: url("../image/decorative/subscribe-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
}

.subscribe h2 {
  margin-bottom: 29px;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.subscribe p {
  margin: 0;
  margin-bottom: 47px;
  padding-right: 166px;
  padding-left: 166px;
  font-size: 22px;
  line-height: 26px;
}

.subscribe-form {
  display: flex;
  flex-wrap: nowrap;
}

.subscribe-email {
  padding-left: 22px;
  flex-grow: 1;
  background: #F2F2F2;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 26px;
  align-items: center;
  color: #000000;
  border: none;
  border-radius: 10px 0px 0px 10px;
}

.subscribe-submit {
  padding-top: 17px;
  padding-right: 34px;
  padding-bottom: 17px;
  padding-left: 34px;
  flex-basis: 200px;
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #83B3D3;
  border: none;
  border-radius: 0px 10px 10px 0px;
}

/* Переопределение стилей для .catalog-subscribe */

.catalog-subscribe {
  background: none;
  color: #000000;
}

/* Стили для .main-footer */

.main-footer {
  padding-top: 40px;
  padding-right: 72px;
  padding-bottom: 30px;
  padding-left: 72px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-list {
  margin: 0;
  padding: 0;
  width: 110px;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.social-item {
  margin-right: 29px;
  margin-bottom: 5px;
}

.social-icon-tw {
  width: 18px;
  height: 15px;
}

.social-icon-fb {
  width: 10px;
  height: 18px;
}

.social-icon-inst {
  width: 20px;
  height: 16px;
}

.social-item:last-of-type {
  margin-right: 0;
}

.contact-phone {
  margin-left: 59px;
  width: 720px;
  text-decoration: none;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.copyright {
  margin-left: auto;
  width: 115px;
}

/* Стили для catalog.html */

.catalog-head-wrapper {
  padding-top: 32px;
  padding-right: 71px;
  padding-bottom: 84px;
  padding-left: 71px;
  background-color: #6b6a73;
  color: #ffffff;
  background-image: url("../image/decorative/catalog-bg.jpg");
  background-repeat: no-repeat;  
  background-size: cover;
  background-position: center;
}

h1 {
  margin: 0;
  font-weight: bold;
  font-size: 60px;
  line-height: 78px;
}

/* Стили для .breadcrumbs */

.breadcrumbs-list {
  margin: 0;
  margin-top: -3px; /* Приемлемо ли задавать отрицательный маргин? */
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.breadcrumbs-item {
  position: relative;
  margin-right: 10px;
  padding-right: 16px;
}

.breadcrumbs-item:not(:last-of-type):after {
  position: absolute;
  content: "";
  width: 5px;
  height: 8px;
  top: 7px;
  right: 1px;  
  background-image: url("../image/svg/breadcrumbs-arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 5px 8px;
}

.breadcrumbs-link {
  text-decoration: none;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
}

.breadcrumbs-home {
  position: relative;
  padding-left: 15px;
}

.breadcrumbs-home::before {
  position: absolute;
  content: "";
  width: 12px;
  height: 12px;
  top: 4px;
  left: 2px;
  background-image: url("../image/svg/breadcrumbs-home.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 12px 12px;
}

/* Стили для .filter */

.filter {
  padding-top: 45px;
}

.filter-form {
  display: flex;
  flex-wrap: wrap;
}

.filter-fieldset  {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  border: none;
  font-size: 18px;
  line-height: 23px;
}

.filter-form legend {
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
}

.filter-infrastructure {
  width: 150px;
}

.filter-housing {
  margin-left: 62px;
  width: 145px;
}

.filter-cost {
  margin-left: 167px;
  width: 287px;
}

.filter-button-wrapper {
  margin-left: 83px;
  width: 160px;
}

/* Замена стандартных check и radio */

.filter-infrastructure label, 
.filter-housing label {
  padding-left: 40px;
  margin-bottom: 13px;
}

.filter-infrastructure label:last-of-type, 
.filter-housing label:last-of-type {
  margin-bottom: 0;
}

.filter-infrastructure input, 
.filter-housing input {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.custom-check,
.custom-radio {
  position: absolute;
  margin-left: -40px;
  width: 20px;
  height: 20px;
  background-color: tomato;
}

.custom-check {
  background-color: #ffffff;
  border-radius: 4px;
}

.custom-radio {
  background-color: #ffffff;
  border-radius: 50%;
}

.filter-infrastructure input:checked + .custom-check {
  background-image: url("../image/svg/check.svg");
  background-repeat: no-repeat;
  background-size: 12px 10px;
  background-position: center;
}

.filter-housing input:checked + .custom-radio {
  background-image: url("../image/svg/radio.svg");
  background-repeat: no-repeat;
  background-size: 10px 10px;
  background-position: center;
}

.filter-button-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.filter-submit {
  margin-bottom: 20px;
  width: 160px;
  height: 48px;
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #83B3D3;
  border: none;
  border-radius: 4px;
}

.filter-reset {
  width: 97px;
  height: 29px;
  background-color: transparent;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  color: #ffffff;
  border: none;
}

/* Стили для .result */

.result {
  padding-top: 46px;
  padding-right: 71px;
  padding-left: 71px;
}

.sorting {
  padding-bottom: 42px;
  display: flex;
  justify-content: space-between;
}

.sorting p {
  margin: 0;
  font-weight: bold;
  font-size: 30px;
  line-height: 39px;
  text-transform: uppercase;
}

.sort-list {
  display: flex;
}

.sort-list select {
  margin-right: 20px;
  box-sizing: border-box;
  padding-top: 12px;
  padding-right: 20px;
  padding-bottom: 13px;
  padding-left: 19px;
  width: 287px;
  height: 48px;
  border: 2px solid #E6E6E6;
  border-radius: 4px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 23px;
  color: #333333;
}

.display-mode {
  display: flex;
}

.display-mode-btn {
  margin-right: 10px;
  display: block;
  width: 46px;
  height: 46px;
  border: 2px solid #E6E6E6;
  border-radius: 4px;
}

.btn-view-line {
  background-image: url("../image/svg/pages-line.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px 14px;
}

.btn-view-column {
  background-image: url("../image/svg/pages-column.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px 14px;
}

.btn-view-list {
  background-image: url("../image/svg/pages-list.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px 14px;
}

/* Стили для .list-of-hotels */

.list-of-hotels article {
  padding-top: 28px;
  padding-bottom: 30px;
  display: flex;
  font-size: 18px;
  line-height: 23px;
  color: #333333;
  border-top: 1px solid #E6E6E6;
}

.image-column {
  width: 180px;
  height: 120px;
}

.description-column {
  margin-left: 37px;
  width: 319px;
}

.description-column h3 {
  margin: 0;
  font-weight: bold;
  font-size: 24px;
  line-height: 31px;
  color: #000000;
}

.rating-column {
  margin-left: auto;
  width: 160px;
}

.hotels-column-wrapper {
  display: flex;
}

.hotels-left-column {
  margin-right: 8px;
  width: 151px;
}

.hotels-right-column {
  width: 160px;
}

.hotels-left-column,
.hotels-right-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.more-details {
  margin-top: 31px;
  padding: 7px 26px;
  text-decoration: none;
  color: #ffffff;
  background-color: #756257;
  border-radius: 4px;
  font-weight: 700;
  text-transform: uppercase;
}

.hotels-favourites {
  margin-top: 31px;
  width: 160px;
  height: 37px;
  color: #ffffff;
  background-color: #83B3D3;
  border-radius: 4px;
  font-family: PT Sans;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
  border: none;
}

.rating-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.rating {
  display: block;
  width: 160px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  background-color: #F2F2F2;
  border-radius: 4px;
}

.hotels-more-wrapper {
  padding-top: 30px;
  padding-bottom: 30px;
  border-top: 1px solid #E6E6E6;
  border-bottom: 1px solid #E6E6E6;
  text-align: center;
}

.hotels-more {
  padding: 14px 240px;
  display: inline-block;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background: #83B3D3;
  border-radius: 4px;
}

.pagination-wrapper {
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
}

.pagination-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  width: 368px;
  list-style: none;
}

.pagination-item {
  margin-right: 7px;
  margin-bottom: 7px;
  width: 55px;  
  font-weight: bold;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
}

.pagination-item:last-of-type {
  margin-right: 0;
}

.pagenation-link {
  display: block;
  padding-top: 14px;
  padding-bottom: 14px;
  color: #ffffff;
  text-decoration: none;  
  background-color: #83B3D3;
  border-radius: 4px;
}

.pagenation-link-current {
  background-color: #F2F2F2;
  color: #000000;
}

.quantity-hotels {
  margin-left: auto;
  width: 390px;
}

.quantity-hotels span {
  margin-right: 50px;
  font-size: 18px;
  line-height: 23px;
  color: #333333;
}

.quantity-hotels select {  
  box-sizing: border-box;
  padding-top: 12px;
  padding-right: 20px;
  padding-bottom: 13px;
  padding-left: 19px;
  width: 160px;
  height: 48px;
  border: 2px solid #E6E6E6;
  border-radius: 4px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 23px;
  color: #333333;
}